<div class="border-bottom row" style="margin-bottom:16px;">
    <div class="col-9">
        <h4 style="color:rgb(120,120,120)">{{job['title']}}</h4>
        <div>
            <p><b>Location:{{job['location']}}</b></p>
        </div>
        <div>
            <p><b>Salary:{{job['salary']}}</b></p>
        </div>
    </div>

    <div class="col-3">
        <button type="button" class="btn btn-outline-primary" >
            <a href="/job/{{job['id']}}">Apply</a>
        </button>
        
    </div>
</div>